* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
}
header {
  background-color: cornflowerblue;
  float: left;
  width: 100%;
  min-height: 70px;
  border-bottom: 5px solid blue;
}
span.highlight {
  color: white;
  font: italic small-caps bolder 30px "Merriweather", serif;
  padding: 0 0 0 10px;
}
.drop {
  float: left;
  display: inline-block;
}
img {
  height: 50px;
  width: 60px;
}

.drop-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop-content img {
  min-width: 180px;
  height: 150px;
}

.drop:hover .drop-content {
  display: block;
}

.desc {
  padding: 0;
  text-align: center;
}
/*Clearfix property*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*Styling my Header*/

.header {
  background: url("../images/lamss.jpeg") no-repeat 0 -200px;
  background-size: 1400px 1400px;
  width: 100%;
  color: black;
  padding: 20px;
  text-align: center;
  clear: left;
}

/*Transition Property*/
.header h1 {
  font: italic small-caps bolder 50px "Merriweather", serif;
  text-shadow: 2px 2px;
  transition: width 2s;
}

.header h1:hover {
  font: italic small-caps bolder 80px "Merriweather", serif;
  color: white;
}

.header p {
  font: italic 20px "Merriweather", serif;
}

/*Styling the TopNav*/
ul {
  list-style-type: none;
  background-color: cornflowerblue;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover {
  background-color: blue;
}

/*Styling the Dropdown*/
li.dropdown {
  display: inline-block;
  position: absolute;
  right: 150px;
}

.dropdown-content {
  display: none;
  min-width: 200px;
  position: absolute;
  background-color: cornsilk;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  padding: 12px 15px;
  color: blue;
  text-align: center;
  display: block;
  border-bottom: 2px solid black;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 255, 0.13);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Main Content-Left Column*/
.col75 {
  width: 75%;
  float: left;
}
.image {
  height: 500px;
  width: 100%;
  float: left;
  display: none;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type="text"],
select {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
}

input[type="textarea"] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
  height: 150px;
}

input[type="text"]:focus {
  background-color: lightblue;
}

label {
  padding: 10px 20px 20px 0;
  display: inline-block;
  font: italic 15px "Merriweather", serif;
}

input[type="submit"] {
  background-color: #1606f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.col-25 {
  width: 25%;
  float: left;
  margin: 0;
}

.col-75 {
  width: 75%;
  float: right;
  margin: 0;
}

/*Main Content-Right Column*/
.col25 {
  width: 25%;
  float: right;
}
