* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/*Styling my Header*/
img {
  height: 130px;
  width: 100px;
  float: right;
}

/*Clearfix property*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  background-color: blue;
  background-image: linear-gradient(to right blue, white);
  color: white;
  padding: 20px;
  text-align: center;
}

/*Transition Property*/
.header h1 {
  font: italic small-caps bolder 50px "Merriweather", serif;
  text-shadow: 2px 2px;
  transition: width 2s;
}

.header h1:hover {
  font: italic small-caps bolder 80px "Merriweather", serif;
  color: pink;
}

.header p {
  font: italic 20px "Merriweather", serif;
}

/*Styling the TopNav*/
ul {
  list-style-type: none;
  background-color: cornflowerblue;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover {
  background-color: blue;
}

/*Styling the Dropdown*/
li.dropdown {
  display: inline-block;
  position: absolute;
  right: 150px;
}

.dropdown-content {
  display: none;
  min-width: 200px;
  position: absolute;
  background-color: cornsilk;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  padding: 12px 15px;
  color: blue;
  text-align: center;
  display: block;
  border-bottom: 2px solid black;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 255, 0.13);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Main Content-Left Column*/
.col75 {
  width: 75%;
}
.image {
  height: 300px;
  width: 250px;
  float: left;
}
