nav {
border-bottom: 1px solid rgb(218, 214, 214);
height: 60px;
}

.navbar-brand {
    font-family: 'Pushster', cursive;
     padding-left: 165px; 
     font-size: 25px !important; 
     font-weight: lighter !important;
}

.navbar-nav {
    padding-right: 160px;
    margin-top: 14px;
}

form {
    padding-left: 220px;
}

.fa-home,
.fa-facebook-messenger,
.fa-plus-square,
.fa-compass,
.fa-heart {
    font-size: 23px;
    color: black;
    padding-left: 8px;
}

.container {
    width: 80%;
}