.fa-question-circle,
.fa-cog,
.fa-bars {
font-size: 20px;
padding-right: 15px;
padding-top: 10px;
}

.fa-search,
.fa-sliders-h,
.fa-bars {
    color: rgba(85, 84, 84, 0.801);
}

.navbar {
    border-bottom: 2px solid rgba(128, 128, 128, 0.151);
}

